{% extends 'index.html' %}
{% block title %}Cargar nuevo banner{% endblock %}
{% block body %}
<form action="/upload" method="post">
    {{ form.csrf }}
    <input type="hidden" name="user" value="session.username" id="" />
    <p id="destination-field" class="field">
        <label for="destination">Destino</label>
        {{form.destination}}
    </p>
    <p id="author-field" class="field">
        <label for="author">Autor</label>
        {{form.author_id}}
    </p>
    <p id="image-field" class="field">
        <label for="image">Archivo</label>
        {{form.image}}
    </p>
    <p><input type="submit" value="Guardar" /></p>
</form>
{% endblock %}
